$breakpoint-tablet: 768px;
$breakpoint-cellphone: 600px;
$breakpoint-sml-cellphone: 500px;
$breakpoint-xsml-cellphone: 400px;

.about-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    animation: fade-in-about 2s ease-in-out 1;
    animation-fill-mode: forwards;
}

.about-glass-card {
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10%;
    padding: 2%;
    width: 600px;
    height: 55vh;
    color: rgb(34, 34, 34);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    .about-glass-card__heading {
        font-size: 40px;
        text-align: center;
    }

    .about-glass-card__text {
        padding: 0 5% 3% 5%;
        font-size: 26px;
        text-align: center;
    }
}

@keyframes fade-in-about {
    from {
        opacity: 0%;
        background-image: url("./assets/bubblyland.webp");
    }

    to {
        opacity: 100%;
        background-image: url("./assets/bubblyland.webp");
    }
}

@media (max-width: $breakpoint-tablet) {
    .about-glass-card {
        width: 85%;
    }

    .about-glass-card__heading {
        font-size: 7.5vw !important;
    }

    .about-glass-card__text {
        padding: 5%;
        font-size: 3.6vw !important;
    }
}

@media (max-width: $breakpoint-cellphone) {
    .about-glass-card {
        justify-content: space-evenly;
    }

    .about-glass-card__text {
        padding: 0 5% 0 5%;
        font-size: 4.5vw !important;
        height: 85%;
    }
}

@media (max-width: $breakpoint-sml-cellphone) {
    .about-glass-card__text {
        font-size: 4.9vw !important;
    }
}

@media (max-width: $breakpoint-xsml-cellphone) {
    .about-glass-card__text {
        font-size: 5.1vw !important;
    }
}
