.container {
    background: url("./assets/bubbleland.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.glass-card {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20%;
    padding: 5%;
    width: 35%;
    height: 70vh;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}
