$breakpoint-tablet: 768px;
$breakpoint-cellphone: 600px;
$breakpoint-sml-cellphone: 500px;
$breakpoint-xsml-cellphone: 400px;

.about-container {
    background: url("./assets/bubblyland.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.about-glass-card {
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 15%;
    padding: 5%;
    width: 600px;
    height: 70vh;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    .about-glass-card__heading {
        margin: 5%;
        font-size: 40px;
        text-align: center;
    }

    .about-glass-card__text {
        padding: 0 5% 3% 5%;
        font-size: 26px;
        text-align: center;
    }
}

@media (max-width: $breakpoint-tablet) {
    .about-glass-card {
        width: 85%;
    }

    .about-glass-card__heading {
        font-size: 8vw !important;
    }

    .about-glass-card__text {
        padding: 5%;
        font-size: 3.6vw !important;
    }
}

@media (max-width: $breakpoint-cellphone) {
    .about-glass-card {
        height: 76vh;
        justify-content: space-evenly;
    }

    .about-glass-card__heading {
        padding-top: 4%;
        height: 12%;
    }

    .about-glass-card__text {
        padding: 0 5% 0 5%;
        font-size: 4.5vw !important;
        height: 85%;
    }
}

@media (max-width: $breakpoint-sml-cellphone) {
    .about-glass-card__text {
        font-size: 5vw !important;
    }
}

@media (max-width: $breakpoint-xsml-cellphone) {
    .about-glass-card__text {
        font-size: 5.5vw !important;
    }
}
