$font-stack: Helvetica, sans-serif;
$primary-color: #c1c1c1;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 769px;

@import url("https://fonts.googleapis.com/css2?family=Genos:wght@100;200;300&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Genos", sans-serif;
}

a {
    color: #363636;
    text-decoration: none;
}

.navigation-container {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 90vw;
    height: 15%;
    background: rgb(149, 149, 149);
    background: linear-gradient(
        to bottom,
        rgba(149, 149, 149, 1) 0%,
        rgb(60, 60, 60) 46%,
        rgba(78, 78, 78, 1) 76%,
        rgba(56, 56, 56, 1) 87%,
        rgb(42, 42, 42) 100%
    );

    border-radius: 10rem 10rem 0 0;
    box-shadow: -6px -10px 20px -6px rgba(46, 46, 46, 0.75);

    .navigation__button {
        margin: 2%;
        border-radius: 10px;
        box-shadow: 0px 3px rgba(128, 128, 128, 1),
            0px 4px rgba(118, 118, 118, 1), 0px 5px rgba(108, 108, 108, 1),
            0px 6px rgba(98, 98, 98, 1), 0px 7px rgba(88, 88, 88, 1),
            0px 8px rgba(78, 78, 78, 1), 0px 14px 6px -1px rgb(34, 34, 34);
    }

    .navigation__button span {
        background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
        box-shadow: 0px -1px #fff, 0px 1px 1px #ffffff;
        border-radius: 10px;
        display: inline-block;
        padding: 10px 40px 10px 40px;
        color: #363636;
        font-weight: 500;
        font-size: 18px;
    }

    .navigation__button:hover span {
        transform: scale(1, 1.1) translate(0, 1px);
    }

    .navigation__button span:hover {
        cursor: pointer;
    }

    .navigation__button-icon {
        display: none;
    }
}

.navigation__button:hover {
    box-shadow: 0px 3px rgba(128, 128, 128, 1), 0px 4px rgba(118, 118, 118, 1),
        0px 5px rgba(108, 108, 108, 1), 0px 6px rgba(98, 98, 98, 1),
        0px 7px rgba(88, 88, 88, 1), 0px 8px rgba(78, 78, 78, 1),
        0px 10px 2px 0px rgba(128, 128, 128, 0.6);
    background: none;
    transform: scale(1, 0.87);
}

@media (max-width: $breakpoint-tablet) {
    .navigation {
        width: 100vw;

        .navigation__button {
            margin: 1%;
            height: 56px;
        }

        .navigation__button span {
            font-size: 12px;
            padding: 10px;
        }

        .navigation__button-text {
            display: none;
        }

        .navigation__button-icon {
            display: block;
        }
    }
}
