$breakpoint-tablet: 768px;

.container {
    font-size: 1.4em;
    background-image: url("./assets/dunes.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.heading {
    padding: 6% 0 0 7%;
}

@media (max-width: $breakpoint-tablet) {
    .container {
        font-size: 1.2em;

        .heading {
            text-align: center;
            padding: 3%;
        }
    }
}
