@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

$breakpoint-laptop: 1025px;
$breakpoint-tablet: 768px;
$breakpoint-cellphone: 600px;
$breakpoint-sml-cellphone: 500px;
$breakpoint-xsml-cellphone: 400px;

.projects-container {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .projects-container__heading {
        width: 16%;
        padding: 20px;
        position: relative;
        z-index: 1;
        bottom: 330px;
        color: rgb(241, 241, 241);
        text-align: center;
        font-family: "Finger Paint", cursive;
        font-size: 30px;
        text-shadow: -1px -1px 1px #000;
        background-image: url(./assets/wood-texture.jpeg);
        background-size: 100% 100%;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 4px inset,
            rgba(0, 0, 0, 0.5) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.6) 0px -5px 0px inset;
        border-radius: 5px;
    }

    .projects {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__heading {
            display: none;
            width: 200px;
            padding: 3%;
            color: rgb(241, 241, 241);
            text-align: center;
            font-family: "Finger Paint", cursive;
            font-size: 30px;
            text-shadow: -1px -1px 1px #000;
            background-image: url(./assets/wood-texture.jpeg);
            background-size: 100% 100%;
            box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 4px inset,
                rgba(0, 0, 0, 0.5) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.6) 0px -5px 0px inset;
            border-radius: 5px;
        }
    }

    .card {
        margin: 0 2% 1% 2%;
        padding: 3%;
        width: 30vw;
        height: 30vh;
        color: rgb(241, 241, 241);
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
    }

    a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card_project-title {
        text-align: center;
        color: rgb(241, 241, 241);
        font-size: 28px;
    }

    .card_project-description {
        text-align: center;
        color: rgb(241, 241, 241);
        font-size: 1.54vw;
        margin-top: 10px;
        height: 80%;
    }
}

.projects-container::before {
    content: "";
    display: block;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    animation: fade-in-projects 2s ease-in-out 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in-projects {
    from {
        opacity: 0%;
        background-image: url("./assets/forest.webp");
    }

    to {
        opacity: 100%;
        background-image: url("./assets/forest.webp");
    }
}

@keyframes fade-in-card {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@media (max-width: $breakpoint-laptop) {
    .card {
        margin: 0 1% 7% 1% !important;
        height: 45vh !important;
    }

    .card_project-title {
        height: 25%;
    }

    .card_project-description {
        font-size: 2.1vw !important;
        height: 77% !important;
    }
}

@media (max-width: $breakpoint-tablet) {
    .projects-container {
        height: 140vh;

        &__heading {
            display: none;
        }

        &::before {
            height: 140vh;
        }

        .projects {
            margin-top: -70px;
            height: 100%;
            justify-content: center;

            &__heading {
                display: block;
                margin-bottom: 12%;
            }
        }
    }

    .projects {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 68vw !important;
        height: 20vh !important;
    }

    .card_project-description {
        font-size: 2.9vw !important;
    }
}

@media (max-width: $breakpoint-cellphone) {
    .projects-container {
        height: 220vh !important;
    }

    .projects-container::before {
        height: 220vh;
        width: 100vw;
    }

    .projects {
        height: 200vh !important;

        &__heading {
            width: 200px !important;
            margin-top: -70px;
        }
    }

    .card {
        height: 23% !important;
        padding: 6% !important;
    }

    .card_project-title {
        height: 30%;
        font-size: 7vw !important;
    }

    .card_project-description {
        font-size: 5.2vw !important;
    }
}

@media (max-width: $breakpoint-sml-cellphone) {
    .card_project-description {
        font-size: 5.8vw !important;
    }
}

@media (max-width: $breakpoint-xsml-cellphone) {
    .card_project-title {
        font-size: 8.3vw !important;
    }

    .card_project-description {
        font-size: 5.6vw !important;
    }
}
