$breakpoint-tablet: 768px;
$breakpoint-cellphone: 600px;
$breakpoint-sml-cellphone: 500px;
$breakpoint-xsml-cellphone: 400px;

.container {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .projects {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .card {
        margin: 0 5% 10% 5%;
        padding: 3%;
        width: 30vw;
        height: 30vh;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
    }

    a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card_project-title {
        text-align: center;
        color: rgb(241, 241, 241);
    }

    .card_project-description {
        text-align: center;
        color: rgb(241, 241, 241);
        margin-top: 10px;
    }
}

.container::before {
    content: "";
    display: block;
    position: absolute;
    background: url("./assets/forest.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
